beautifulsoup4==4.12.2
requests==2.32.3
boto3==1.36.5
botocore==1.36.5

#testing
pytest==7.4.3
pytest-mock==3.12.0
pytest-cov==6.0.0
responses==0.24.1  # For mocking HTTP requests

#linting
flake8==7.1.1
black==24.10.0

